.login-select {
    border-radius: 5px;
    color: #455A64;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 800;
    text-decoration: none;
}

.login-select:hover {
    color: #455A64;
}

.login-select-active {
    background-color: #C48879;
    color: white;
    text-decoration: none;
}

.login-select-active:hover {
    background-color: #C48879;
    color: white;
}

.login-select:active {
    background-color: #C48879 !important;
    border: none !important;
    color: white !important;
}


